@using ResturauntViewing.Models.Models;
@using System.Web.Mvc.Html;
@using  Newtonsoft.Json

@model SampleListViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<int> sortedList;
    int count = 1;
}




@* /Views/Home/SampleList.cshtml *@

<table class="table table-bordered table-dark table-hover" ">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Number of Elements</th>
        <th scope="col">Type of List</th>
        <th colspan="2" scope="col">Sample List</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>

         @foreach (List<int> list in Model.everyList)
        {
            List<int> listDisplay = list.Take(5).ToList(); // https://stackoverflow.com/questions/319973/how-to-get-first-n-elements-of-a-list-in-c
            string combinedString = string.Join(",", listDisplay.ToArray()); // https://stackoverflow.com/questions/4981390/convert-a-list-to-a-string-in-c-sharp
            string cbId = "cb" + @count;
           @*  <a onclick="alert('hi')"> *@
                 <tr  id="@count"> @* https://stackoverflow.com/questions/11826936/pass-list-item-from-c-sharp-to-javascript-array *@
                
                <th scope="row">@count</th>
                <td> @list.Count</td>
                <td> Unordered</td>
                <td colspan="2">@combinedString</td>
                <td> <input type="checkbox" onchange='checkboxChange(this,@JsonConvert.SerializeObject(list),@Model.selectedProblem.ParameterValue);' id=@cbId onclick="StoreList(@JsonConvert.SerializeObject(list),@count)" name="vehicle1" value="Bike"></td>
               
                
            </tr>
            @* </a> *@
            list.Sort();
            listDisplay = list.Take(5).ToList();
            combinedString = string.Join(",", listDisplay.ToArray());
            count++;
            cbId = "cb" + @count;
            <tr >
                <th scope="row">@count</th>
                <td>@list.Count</td>
                <td>Ordered</td>
                <td colspan="2">@combinedString</td>

                <td> <input type="checkbox" onchange='checkboxChange(this,@JsonConvert.SerializeObject(list),@Model.selectedProblem.ParameterValue);' id=@cbId onclick="StoreList(@JsonConvert.SerializeObject(list),@count);" id="c" + @count></td>
            </tr>
          count++;
        } 

</tbody>
</table>
<button id="submitSample" disabled="true" onclick="SubmitSample()">@Model.selectedProblem.Name</button>
@section Scripts{
<script>
    alert("JS")


</script>
}
@section Styles
{
    <style type="text/css">
        input[type="radio"] {
            -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
            -moz-appearance: checkbox; /* Firefox */
            -ms-appearance: checkbox; /* not currently supported */
        }
    </style>
}



